<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DbSuratSekolah"
         connectionString="Server=localhost;Port=3306;Database=db_surat_sekolah;Uid=root;Pwd=;"
         providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="FolderDokumen" value="DokumenSurat"/>
  </appSettings>
</configuration>